/*Login es temporal hasta acomodar el css*/
form label{
	color:#ffffff;
	font-family:"Sim Sum";
	font-size:20px;
	
}

#logo{
	/*background-image :url(images/logo.png);*/
	background-position:center;
	background-repeat:no-repeat;
}

#getting{
	position:absolute;
	background-color:#6B6B6B;
	-webkit-border-radius: 5px 5px 5px 5px;
	 height: 60px;
	 width:200px;
	 left:880px;
	 top:427px;
	 font : 24px arial,helvetica,clean,sans-serif;	
	 color:#ffffff;
}

#getting:hover{
	background-color:#3A3A3A;
}

#getting div{
	margin:0 auto;
	padding-top:17px;
}


/*----------------------------------------*/
#up {
	height: 38px;
	margin-top:27px;
	margin-bottom:30px;

}

#login{
	 background-color:#6B6B6B;
	-webkit-border-radius: 5px 5px 5px 5px;
	 height: 38px;

	 width:980px;
	/* margin-top:10px;*/
}

.menu {
	width:150px;
	height: 38px;
	float:left;
	border-right: 1px solid #3a3a3a;
}

#login .large{
	width:200px;
}

.menu:hover{
	background-color:#3A3A3A;
}

a{text-decoration:none;}

#logo:hover{
	-webkit-border-radius: 5px 0px 0px 5px;
}

#logo{
	width:103px;
	border-right: 1px solid #000000;
}

#contact{
	width:172px;
	border-right: 0px solid #000000;
	-webkit-border-radius: 0px 5px 5px 0px;
}

.menu div{
	margin-top:9px;
	color:#ffffff;
	font : 16px arial,helvetica,clean,sans-serif;
	
}


.centered{
	margin:0 auto;
	width: 980px;
}

#main{
	height: 550px;
	position:relative;
}

#main div{
	display:block;
}




#articles{
	
}

#footer{
	text-align:center;
	font-family:"Verdana";
	font-size:10px;
	clear:both;
}

#mychart {
    width: 600px;
    height: 400px;
}
#map {
    height: 200px;
    width: 300px;
}

/*#image0{
  background-image : url(images/item5.png);
}
#image1{
  background-image : url(images/hero.jpg);
}

#image2{
  background-image : url(images/item6.png);
}*/




